* {
	margin: none;
	padding: none;
	font-family: ubuntu;
}

.eintragen {
	position: absolute;
	left: 0%;
	top: 0%;
	border-right: 1px solid #000;
	width: 33%;
	height: 100%;
	text-align: center;
}

.textinput {
	width: 90%;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 0.5em;
	line-height: 1.5em;
	margin-bottom: 1em;
	background: #fff;
}

.radio {
	width: 10%;
}

.daten {
	position: absolute;
	left: 33%;
	top: 0%;
	width: 33%;
	height: 100%;
	text-align: center;
}

.suchen {
	position: absolute;
	left: 66%;
	top: 0%;
	border-left: 1px solid #000;
	width: 33%;
	height: 100%;
	text-align: center;
}

.datentd {
	border: 1px solid black;
	text-align: center;
	line-height: 1.5em;
}